body {
  position: relative;
}

h1, h2, h4 {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Lato-Bold!important;
  color: #506a85!important;
}

h1 {
  font-size: 5.5rem !important;
}

h2 {
  font-size: 4.5rem !important;
}

h3 {
  font-size: 2.5rem!important;
}

h4 {
  font-size: 2rem!important;
}

p {
  font-family: SourceSansPro-Regular!important;
  font-size: 2rem!important;
}

li {
  font-family: SourceSansPro-Regular!important;
  font-size: 4rem!important;
}

.pagenation {
    margin-top: 40px;
    margin-bottom: 60px;
}
.img-hover-effect {
    position: relative;
    background: #00bc9c;
}
.img-hover-effect:hover .initials {
    display: flex;
}
.img-hover-effect .initials {
    background: #00bc9c;
    opacity: .8;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
}
.img-hover-effect .initials p {
    padding: 0;
    margin: 0;
    color: #fff!important;
}
.img-hover-effect .initials h4, .img-hover-effect .initials p {
    color: #fff!important;
}
.img-hover-effect .glyphicon {
    position: absolute;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1!important;
    color: #fff;
    font-weight: leighter;
}
.img-hover-effect img {
    position: relative;
}
.img-hover-effect img:before {
    content: "qwe";
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    background: #000;
}
.img-hover-effect img:hover {
    opacity: .2;
}
.img-hover-effect.small {
    height: 185px;
}

.wrapper {
  height: 100vh;
  padding-top: 10vh;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.content-wrapper img {
  margin: auto;
  width: 10%;
}

.main-content {
  background: url("../img/index_page_background_small.jpg");
  background-size: cover;
}

.main-content .content {
  height: 70vh;
}

.offers {
  list-style: none;
}

.offers > li {
  font-weight: 800;
}

.offers > li:first-child {
  position: relative !important;
  left: -10% !important;
  font-size: 4.5rem !important;
}

.block {
  width: 30%;
  margin: 0 !important;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 3%;
}

.software-development {
  background-color: #fbf2ff;
}

.software-maintenance {

}

.portfolio {
  background-color: #fffeef
}

.team {

}
.main-line {
    margin-top: 10vh;
    background: url(../img/307ae5a005d8fe31646c38c6d8ed9d1b.png) 50% bottom;
    height: 86vh;
    justify-content: space-around;
}
.main-line, .main-line-inner {
    display: flex;
    align-items: center;
}
.main-line-inner {
    flex-direction: column;
}
.main-line-inner h1 {
    color: #fff!important;
    font-family: Lato-Black;
    font-size: 8.5rem!important;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.main-line-inner p {
    text-align: center;
    color: #a3b1bf;
    padding: 0 60px;
    margin-bottom: 70px!important;
}
.main-line-inner a {
    text-align: center;
}
.btn-primary {
    background-color: #00c9a1!important;
    font-family: SourceSansPro-Bold!important;
    font-size: 1.8rem!important;
    padding: 1.8rem 6.3rem!important;
}
.btn-small {
    padding: .6rem 2rem!important;
}
.navbar-default {
    max-height: 10vh;
    overflow: hidden;
    background: #fff!important;
    border: none!important;
}
.navbar-default .navbar-brand {
    text-indent: -1000px;
    height: 10vh;
    width: 161px;
    margin: 0 30px!important;
    background: url(../img/a51f68d57b878ee65495c3123085422c.png) no-repeat 50% 50%;
    cursor: pointer;
}
.navbar-default .container form, .navbar-default .container ul {
    height: 10vh!important;
    display: flex;
    align-items: center;
}
.navbar-default .container form a, .navbar-default .container ul a {
    color: #506a85!important;
    font-family: SourceSansPro-Bold;
    font-size: 1.6rem;
    margin-left: 20px;
}
.navbar-default .container form a:hover, .navbar-default .container ul a:hover {
    color: #2e3e4f!important;
}
.navbar-default .container form {
    margin: 0;
}
.navbar-default .container form input {
    width: 0;
    border: none;
    box-shadow: none;
}
.navbar-default .container form span {
    color: #506a85;
}
.navbar-default .container form span:hover {
    color: #2e3e4f!important;
    cursor: pointer;
}

.footer {
    padding-top: 60px;
    background-color: #313b54;
}
.footer .form-group {
    display: flex!important;
    background: #50586e;
    padding: 0 16px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}
.footer .form-group input {
    color: #fff;
    font-size: 1.2rem;
    width: 150px;
    background: transparent;
    border: none;
}
.footer .form-group input:focus, .footer .form-group input:hover {
    box-shadow: none!important;
}
.footer .form-group a {
    background: #00c9a1;
    padding: 4px 5px;
    height: 25px;
    margin-top: 5px;
    color: #fff;
    font-family: Lato-Bold;
    font-size: 1.1rem;
}
.footer>.container {
    padding-bottom: 40px;
}
.footer .logo {
    margin-bottom: 20px!important;
}
.footer h4 {
    color: #fff!important;
    font-size: 1.5rem!important;
    text-align: left;
    margin-bottom: 15px;
}
.footer img {
    margin-bottom: 4px;
}
.footer p {
    color: #a3b1bf;
    font-size: 1.4rem!important;
}
.footer ul {
    list-style: none;
    margin-left: -35px;
}
.footer ul li {
    float: left;
}
.footer ul li span {
    position: relative;
    right: 8px;
    color: #a3b1bf;
    font-size: 1.2rem;
}
.footer a {
    color: #a3b1bf;
}
.footer a:hover {
    color: #add8e6;
    text-decoration: none;
}
.footer a span {
    position: relative;
    left: 6px;
    font-size: .8rem;
}
.footer .copyright {
    background-color: #2a3247;
}
.footer .copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: SourceSansPro-Regular!important;
}
.footer .copyright .container p, .footer .copyright .container ul {
    flex: 1;
    margin: 26px 0;
}
.footer .copyright .container p {
    color: #707e8c;
    font-size: 1.3rem!important;
}
.footer .copyright .container ul li {
    margin-left: 26px;
    float: right;
}
.btn-primary.login {
    background-color: pink!important;
    border: none;
}
.modal {
    color: #000;
    font-size: .6rem!important;
}
.modal, .modal form input {
    font-family: SourceSansPro-Regular;
}
.modal form input {
    background: transparent;
    padding: 20px 50px;
    margin: 20px 50px;
    width: 60%}
.modal span {
    font-size: 2rem!important;
    color: #506a85;
    position: relative;
    top: 54px;
    left: 413px;
}
@font-face {
    font-family: Lato-Bold;
    src: url(../img/44dfe8cc676882243911a3197a50169e.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(../img/77d353744697c77955f9bacc7f3ed90a.ttf);
}
@font-face {
    font-family: SourceSansPro-Regular;
    src: url(../img/ba6cad25afe01d394e830f548a7f94df.ttf);
}
@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../img/5c6c404eca1aa7c5951e05d7f2cf40eb.ttf);
}
